---
layout: index.pug
language: ru
permalink: /ru/
---

.header.full-width
  .contents
    h1 Комплект эстренной цифровой помощи
    br
    h1 Добро пожаловать!
    br
    h1#sub Мы поможем вам подобрать нужную команду CiviCERT

.intro
  .contents
    p Комплект экстренной цифровой помощи — бесплатный ресурс для поддержки оперативных консультантов, тренеров по цифровой безопасности, технически продвинутых активистов. Наша задача — помочь этим людям более эффективно защищать себя и сообщества, которые они поддерживают, от самых распространённых видов экстренных цифровых проблем. Наш ресурс может быть использован также активистами, правозащитниками, блогерами, журналистами и медиа-активистами, которые хотят узнать больше о том, как защитить себя и помочь другим. Если вы (или тот, кому вы помогаете) столкнулись с проблемой в области цифровой безопасности, Комплект экстренной цифровой помощи пригодится, чтобы точнее определить проблему и, если необходимо, обратиться за помощью к нужным людям.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 С какой проблемой вы столкнулись?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Проблема с доступом к устройству
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Проблема с доступом к аккаунту
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Моё устройство странно себя ведёт
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Мне пришло подозрительное сообщение
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Мой сайт не работает
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Кто-то представляется мной в интернете
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Проблема с онлайновыми домогательствами
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Мои данные пропали
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Мой знакомый был арестован

    p.after
      | Выберите проблему, с которой вы столкнулись. В Комплекте экстренной
      | цифровой помощи вы ответите на ряд вопросов. Это позволит точнее
      | определить проблему и подобрать решение. Если проблема не решается
      | своими силами, воспользуйтесь
      a(href="support/") списком организаций, где можно проконсультироваться
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ЧТО ЕЩЁ ВЫ ХОТЕЛИ БЫ УЗНАТЬ?
          p
            | Комплект экстренной цифровой помощи — не панацея от всех цифровых проблем.
            | Если вы не уверены, что делать с обнаруженными проблемами,
            | пожалуйста, обратитесь к
            a(href="support/") списку организаций, где можно проконсультироваться
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 ЧУВСТВУЕТЕ СЕБЯ В РАЗБИТОМ СОСТОЯНИИ?
          p
            | Онлайновые преследования, угрозы и прочие неприятности в цифровом мире могут
            | нанести серьёзный ущерб вашим чувствам и благополучию. Познакомьтесь с нашими
            a(href="self-care/") советами о том, как заботиться
            |  о себе, где найти больше ресурсов, с кем связаться для поддержки и уменьшения
            | ущерба.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 КТО РАБОТАЛ НАД КОМПЛЕКТОМ ЭКСТРЕННОЙ ЦИФРОВОЙ БЕЗОПАСНОСТИ?
          p
            | Этот ресурс — продукт совместных усилий
            a(href="https://www.rarenet.org") Rapid Response Network
            |  и
            a(href="https://www.civicert.org") CiviCERT
            | . Подробнее см.
            a(href="about/") здесь
            | . Комплект экстренной цифровой помощи — проект
            | с открытым исходным кодом. Мы приветствуем
            a(href="https://gitlab.com/rarenet/dfak") ваши дополнения
            | .
